<div class="signup">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="userform">
                    <form class="signupform" action="/admins/signup" method="post">
                        <div class="title">
                            <h3>管理员注册</h3>
                        </div>
                        <div class="itemslist">
                            <div class="item">
                                <input name="username" type="text" placeholder="用户名" maxlength="30" value="<%= admin.username %>"/>
                                <% if(admin.errors && admin.errors.username) { %>
                                <span class="error"><%= admin.errors.username %></span>
                                <%}%>
                                <% if(admin.dupicateerror) { %>
                                <span class="error"><%= admin.dupicateerror %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="password" type="password" placeholder="密码" maxlength="30" value="<%= admin.password %>" />
                                <% if(admin.errors && admin.errors.password) { %>
                                <span class="error"><%= admin.errors.password %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="confirmpassword" type="password" placeholder="确认密码" maxlength="30" value="<%= admin.confirmpassword %>"/>
                                <% if(admin.errors && admin.errors.confirmpassword) { %>
                                <span class="error"><%= admin.errors.confirmpassword %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="nickname" type="text" placeholder="昵称" maxlength="20" value="<%= admin.nickname %>" />
                                <% if(admin.errors && admin.errors.nickname) { %>
                                <span class="error"><%= admin.errors.nickname %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="email" type="text" placeholder="邮箱" value="<%= admin.email %>" />
                                <% if(admin.errors && admin.errors.email) { %>
                                <span class="error"><%= admin.errors.email %></span>
                                <%}%>
                                <% if(admin.duplicateEmail) { %>
                                <span class="error"><%= admin.duplicateEmail %></span>
                                <%}%>
                            </div>

                            <% if (session.get("userrole") == geddy.model.Admin.userrole.super){ %>
                            <div class="item checkboxitem cf">
                                <input name="issuper" id="issuper" type="checkbox" value="1" <%= admin.issuper == true ? "checked" : "" %> />
                                <label for="issuper">高级管理员</label>
                                <% if(admin.errors && admin.errors.issuper) { %>
                                <span class="error"><%= admin.errors.issuper %></span>
                                <%}%>
                            </div>
                            <%}%>

                        </div>
                        <div class="submit">
                            <input class="signupsubmit submitBtn"  type="submit" value="立即注册" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>