<div class="useredit">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="userform">
                    <form class="usereditform" action="/users/edit/<%= user.id %>" method="post">
                        <div class="title">
                            <h3>用户修改</h3>
                        </div>
                        <div class="itemslist">
                            <div class="item">
                                <input name="username" type="text" placeholder="用户名" maxlength="30" value="<%= user.username %>"/>
                                <% if(user.errors && user.errors.username) { %>
                                <span class="error"><%= user.errors.username %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="password" type="password" placeholder="密码" maxlength="30" value="<%= user.password %>" />
                                <% if(user.errors && user.errors.password) { %>
                                <span class="error"><%= user.errors.password %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="confirmpassword" type="password" placeholder="确认密码" maxlength="30" value="<%= user.confirmpassword %>"/>
                                <% if(user.errors && user.errors.confirmpassword) { %>
                                <span class="error"><%= user.errors.confirmpassword %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="nickname" type="text" placeholder="昵称" maxlength="20" value="<%= user.nickname %>" />
                                <% if(user.errors && user.errors.nickname) { %>
                                <span class="error"><%= user.errors.nickname %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="email" type="text" placeholder="邮箱" value="<%= user.email %>" />
                                <% if(user.errors && user.errors.email) { %>
                                <span class="error"><%= user.errors.email %></span>
                                <%}%>
                            </div>
                        </div>
                        <div class="submit cf">
                            <input class="editsubmit submitBtn"  type="submit" value="保存修改" />
                            <a class="backlist" href="/users/list">返回用户列表</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>