<div class="profile">
    <div class="ro whitebg">
        <div class="ce w12">
            <div class="br1 left">
                <div class="userform">

                    <% if(user.signupSuccess)
                    { %>
                    <div class="signupsuccess">
                        <p class="pwdsuccess">密码修改成功。</p>
                    </div>
                    <% } %>
                    <form class="signupform" action="/settings/profile_pwd" method="post">
                        <div class="title">
                            <h3>密码修改</h3>
                        </div>
                        <div class="itemslist">
                            <div class="item">
                                <input name="oldpassword" type="password" placeholder="旧密码" maxlength="30" value="" />
                                <% if(user.errors && user.errors.password) { %>
                                <span class="error"><%= user.errors.password %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="password" type="password" placeholder="新密码" maxlength="30" value="" />
                                <% if(user.errors && user.errors.password) { %>
                                <span class="error"><%= user.errors.password %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="confirmpassword" type="password" placeholder="确认新密码" maxlength="30" value=""/>
                                <% if(user.errors && user.errors.confirmpassword) { %>
                                <span class="error"><%= user.errors.confirmpassword %></span>
                                <%}%>
                            </div>
                        </div>
                        <div class="submit">
                            <input class="submitBtn"  type="submit" value="修改密码" />
                        </div>
                    </form>

                </div>
            </div>

            <div class="br2 left">
                <div class="userform">

                    <% if(user.signupSuccess)
                    { %>
                    <div class="signupsuccess">
                        <p class="infosuccess">个人信息修改成功。</p>
                    </div>
                    <% }
                    else
                    { %>
                    <form class="signupform" action="/settings/profile_info" method="post">
                        <div class="title">
                            <h3>个人信息修改</h3>
                        </div>
                        <div class="itemslist">
                            <div class="item">
                                <input name="nickname" type="text" placeholder="昵称" maxlength="20" value="<%= user.nickname %>" />
                                <% if(user.errors && user.errors.nickname) { %>
                                <span class="error"><%= user.errors.nickname %></span>
                                <%}%>
                            </div>
                            <div class="item">
                                <input name="email" type="text" placeholder="邮箱" value="<%= user.email %>" />
                                <% if(user.errors && user.errors.email) { %>
                                <span class="error"><%= user.errors.email %></span>
                                <%}%>
                            </div>
                        </div>
                        <div class="submit">
                            <input class="submitBtn"  type="submit" value="修改个人信息" />
                        </div>
                    </form>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</div>